.ele-ui {
    .el-input__inner {
        background-color: #202429 !important;
        border: 1px solid #202429 !important;
        color: #fff !important;
        &::-webkit-input-placeholder { color: rgba(255, 255, 255, .2); }
        &::-moz-placeholder { color: rgba(255, 255, 255, .2); }
        &:-ms-input-placeholder { color: rgba(255, 255, 255, .2); }
        &:-moz-placeholder { color: rgba(255, 255, 255, .2); }
    }
    .button-vcode {
        position: absolute;
        z-index: 2;
        top: 4px;
        right: 4px;
        width: 100px;
        height: 32px;
        background-color: #34393f;
        border-radius: 5px;
        text-align: center;
        line-height: 32px;
        font-size: 12px;
        color: #fff;
        outline: none;
        border: none;
        cursor: pointer;
        // 这是更改当前class类中div的某个属性的选择器，比如说
        // 设置了disable属性，则可以在这个元素的disable属性生效
        // 时触发样式代码
        &[disabled] { background-color: red;}
    }
}